<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
  <link rel="stylesheet" href="/static/css/main.css/">
</head>
<body>

    <div class="container">
          <h2>欢迎{{username}}来到投票系统</h2>
        {% if latest_poll_list %}
        <ul>
            {% for poll in latest_poll_list %}
            <li>{{forloop.counter}}<a href="/polls/detail/{{poll.id}}">{{ poll.question }}</a></li><br>
            {% endfor %}
        </ul>
        {% else %}
        <p>没有获得</p>
        {% endif %}
    </div>

</body>




</html>