<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
      <link rel="stylesheet" href="/static/css/main.css/">

</head>
<body>
<div class="container">
    <h3>登录</h3>
    <b>{{err}}</b>
    <form action="{%url 'polls:login' %}" method="post">
        用户名：<input type="text" name="username"><br><br>
        密码：  <input type="password" name="pwd" ><br><br>
        <input type="submit" name="tijiao" value="登录">
        <a href="{%url 'polls:register' %}"><input type="button" name="zhuce" value="注册"></a>
    </form>
</div>

</body>
</html>